.itemshort {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #ddd;
}

.itemshortbody {
    margin-left: 5px;
    display: inline;
}

.itemfooter {
    border-top: solid 1px #ddd;
}

.itemtitle {
    display: inline;
    font-weight: bold;
}

.itemdomain {
    font-style: italic;
    display: inline;
}

.itemfeed {
    display: inline;
    color: #777;
    padding-right: 10px;
}

.itemsource {
    position: relative;
    right: 0;
    float: right;
}

.itemfull {
    padding: 10px;
    margin-bottom: 20px;
}

.itemtopics {
    margin-left: 10px;
    color: #555;
    display: inline;
    font-style: italic;
}

.itembody {
    padding: 5px 5px 5px 5px;
}

.itemadditionallinks {
    margin-left: 10px;
    display: inline;
}

.vote-arrow {
    display: inline;
}

.vote-arrow:hover {
    cursor: pointer;
}

#maincontainer {
    font-size: 1.2em;;
    margin-left: 90px;
}

html,
body {
    height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#push,
#footer {
    height: 60px;
}

#footer {
  text-align: center;
}

#footer ul {
  list-style-type: none;
}

#footer li {
  display: inline;
}

#footer li:before {
  content: " | ";
}

#footer li:first-child:before {
  content: "";
}
