nav {
    position: absolute;
    top: 50px;
    right: 60px;
    width: 170px;

}

nav .nav-list {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.itemheader {
    border-bottom: solid 1px #ddd;
}

.itemfooter {
    border-top: solid 1px #ddd;
}

.itemtitle {
    padding: 5px;
    display: inline;
    font-weight: bold;
}

.itemdomain {
    font-style: italic;
    display: inline;
}

.itemfeed {
    display: inline;
    color: #777;
    padding-right: 10px;
}

.itemfull {
    border: solid 3px #ddd;
    margin: 10px;
}

.itemtopics {
    margin-left: 10px;
    color: #555;
    display: inline;
    font-style: italic;
}

.itembody {
    padding: 5px;
}

.itemadditionallinks {
    margin-left: 10px;
    display: inline;
}

.vote-arrow {
    float: left;
}

#maincontainer {
    margin-left: 90px;
}

#footer {
  bottom: 0;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

#footer ul {
  list-style-type: none;
}

#footer li {
  display: inline;
}

#footer li:before {
  content: " | ";
}

#footer li:first-child:before {
  content: "";
}
