nav {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 150px;

}

nav .nav-list {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.itemheader {
    border-bottom: solid 1px #ddd;
}

.itemtitle {
    display: inline;
}

.itemfeed {
    display: inline;
    color: #777;
    padding-right: 10px;
}
